<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- CSS Stylin -->
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat-Da-Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
	{{{ body }}}
</body>

<footer class=" center footer">
	<div class="container">
		<p> copyright © Eat-Da-Burger Gulden Rose Memis</p>
	</div>
</footer>

</html>